@use 'global' as *;

.archive-blog {

}

.archive-blog__inner {
  @include mq(md){
    display: grid;
    grid-template-columns: 1fr rem(294);
    gap: rem(80);
  }
}

.archive-blog__inner.inner {
  padding: 0 rem(21);
  @include mq('md') {
    padding: 0 rem(25);
  }
}


.archive-blog__wrapper {
  //width: 72%;
  @include mq(md){
    // display: flex;
  }
}

.archive-blog__list {
  border-top: 1px solid rgba($color: #234F5E, $alpha: .2);
  display: grid;
  row-gap: rem(40);
  @include mq(md) {
    flex-wrap: wrap;
    border-top: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.archive-blog__pagenavi {
  margin-top: rem(80);
}


/*****サイドバー*****/
.archive-blog__sidebar {
  margin-top: rem(84);
  @include mq(md) {
    margin-top: rem(4);
  }
}

