@use 'global' as *;

.archive-blog {

}

.archive-blog__inner {
  margin: auto;
  padding: 0 prem(20);
  max-width: prem(600);
  width: 100%;
  @include mq(md){
    padding: 0 prem(25);
    max-width: prem(1130);
    display: grid;
    grid-template-columns: 1fr rem(333);
    gap: rem(80);
  }
}

.archive-blog__wrapper {
  //width: 72%;
  @include mq(md){
    // display: flex;
  }
}

.archive-blog__list {
  border-top: 1px solid rgba($color: #234F5E, $alpha: .2);
  @include mq(md) {
    flex-wrap: wrap;
    border-top: none;
    //width: calc(706 / 1080);
  }
}


/*****サイドバー*****/
.archive-blog__sidebar {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: 0;
    //margin-left: rem(80);
  }
}

