@use 'global' as *;

.blog-sidebar {

}

.blog-sidebar__list {
  
}

.blog-sidebar__title {

}

.blog-sidebar__items {
  margin-top: rem(30);
}

.blog-sidebar__item {
  
}

.blog-sidebar__review {
  margin-top: rem(80);
}

.blog-sidebar__campaign {
  margin-top: rem(80);
}

.blog-sidebar__archive {
  margin-top: rem(80);
}