@use 'global' as *;

.blog {
  padding-top: rem(80);

  @include mq('md') {
    position: relative;
    padding-top: rem(100);
    background-image: url(../images/common/Rectangle-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.blog::after {
  @include mq('md') {
    content: "";
    position: absolute;
    top: rem(25);
    //left: rem(100);
    left: calc(min(2%, rem(100)));
    background-image: url(../images/common/キンギョハナダイ1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: rem(437);
    min-height: rem(201);
  }
}

.blog__inner {
  
}

.blog__inner.inner {
  padding: 0 rem(21);
  @include mq('md') {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.blog__list {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}
