@use 'global' as *;

.blog-card-content {

}

.blog-card-content__date {
  font-family: $english-font-family;
  font-size: rem(12);
  line-height: calc(18 / 12);
    @include mq(md){
      
    }
}

.blog-card-content__title,
.blog-card-content__text {
  line-height: calc(24 / 16);
}

.blog-card-content__title {
  font-weight: $medium;
  border-bottom: rem(1) solid $accent-color;
  padding-bottom: calc(rem(4) - rem(1));
  @include mq(md){
    
  }
}

.blog-card-content__title--sub {
  border-bottom: 0;
  padding-bottom: 0;
}

.blog-card-content__text {
  margin-top: rem(16);
  font-weight: $normal;
    @include mq(md){
      
    }
}