@use 'global' as *;

.category-tab-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, rem(162));
  row-gap: rem(16);
  column-gap: rem(21);
  @include mq('md') {
    grid-template-columns: repeat(4, rem(162));
    justify-content: left;
    column-gap: rem(32);
  }
}

.category-tab-items__item {
  
}

.category-tab-items__item.is-active {
  
}