@use 'global' as *;

.campaign-swiper {
  overflow: hidden;
}

.campaign-swiper__wrapper {
  padding-left: rem(2);
  padding-bottom: rem(3);
  //position: relative;
}

.campaign-swiper__slide {
  height: auto;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
}

.campaign-swiper__button {
  //margin-top: rem(70);
  display: flex;
  justify-content: left;
  // position: relative;
}

.campaign-swiper__prev,
.campaign-swiper__next {
  min-width: rem(80);
  min-height: rem(80);
}

.campaign-swiper__button .campaign-swiper__prev,
.campaign-swiper__button .campaign-swiper__next {
  position: absolute;
  top: 0;
  top: 22px;
  min-width: rem(80);
  min-height: rem(80);
}

.campaign-swiper__button .campaign-swiper__prev {
  left: 76.5%;
}

.campaign-swiper__button .campaign-swiper__next {
  right: 2.25%;
}

.campaign-swiper__button .campaign-swiper__prev::after,
.campaign-swiper__button .campaign-swiper__next::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(80);
  height: rem(80);
}

.campaign-swiper__button .campaign-swiper__prev::after {
  background-image: url(../images/common/swiperbtn1.png);
}

.campaign-swiper__button .campaign-swiper__next::after {
  background-image: url(../images/common/swiperbtn2.png);
}

.campaign-swiper__button .campaign-swiper__prev:hover::after,
.campaign-swiper__button .campaign-swiper__next:hover::after {
  opacity: 0.5;
}