@use 'global' as *;

.campaign-swiper {
  overflow: hidden;
}

.campaign-swiper__card {
  padding-left: rem(2);
  padding-bottom: rem(3);
  //position: relative;
}

.campaign-swiper__button-wrap {
  //margin-top: rem(70);
  display: flex;
  justify-content: left;
  // position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  min-width: rem(80);
  min-height: rem(80);
}

.campaign-swiper__button-wrap .swiper-button-prev,
.campaign-swiper__button-wrap .swiper-button-next {
  position: absolute;
  top: 0;
  top: 22px;
  min-width: rem(80);
  min-height: rem(80);
}

.campaign-swiper__button-wrap .swiper-button-prev {
  left: 76.5%;
}

.campaign-swiper__button-wrap .swiper-button-next {
  right: 2.25%;
}

.campaign-swiper__button-wrap .swiper-button-prev::after,
.campaign-swiper__button-wrap .swiper-button-next::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(80);
  height: rem(80);
}

.campaign-swiper__button-wrap .swiper-button-prev::after {
  background-image: url(../images/common/swiperbtn1.png);
}

.campaign-swiper__button-wrap .swiper-button-next::after {
  background-image: url(../images/common/swiperbtn2.png);
}