@use 'global' as *;

.campaign {
  overflow: hidden;
}

.campaign__inner {
  position: relative;
}

.campaign__inner.inner {
  padding-left: rem(13);
  @include mq('md') {
    padding-left: rem(23);
  }
}

.campaign__swiper {
  margin-top: rem(25);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  @include mq('md') {
    margin-top: rem(40);
  }
}

.campaign__btn {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(3);
  @include mq('md') {
    margin-top: rem(80);
  }
}