@use 'global' as *;

.nav-items {
  flex-shrink: 0;
}

.nav-items__item {
  max-width: rem(144);
  @include mq(md){
    max-width: rem(160);
  }
}

.nav-items__item:nth-child(n + 2) a {
  margin-top: rem(24);
}

.nav-items__item a span {
  max-width: rem(112);
  @include mq('md') {
    max-width: rem(160);
  }
}

.nav-items__item:nth-child(n + 2) a span  {
  margin-top: rem(16);
}







