@use 'global' as *;

.price-list {
  width: 100%;
  @include mq(md){
    max-width: rem(492);
  }
}

.price-list__item {
  
  @include mq(md){
    
  }
}

.price-list__item + .price-list__item {
  margin-top: rem(40);
  @include mq(md) {
    
  }
}

// .price-list__item:nth-of-type(n+3) {
//   @include mq(md){
//     margin-top: rem(80);
//   }
// }