@use 'global' as *;

.sub-campaign {
  position: relative;
}

.sub-campaign::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/goldfish2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: rem(-24);
  left: rem(15);
  min-width: rem(120);
  min-height: rem(55);
  @include mq('md') {
    top: rem(-70);
    left: calc(50% - min(48%, rem(619)));
    min-width: rem(301);
    min-height: rem(138);
  }
}

.sub-campaign__items {
  margin-top: rem(40);
  //text-align: center;
}

.sub-campaign__pagenavi {
  margin-top: rem(77);
  @include mq('md') {
    margin-top: rem(80);
  }
}