@use 'global' as *;

.voice-card {
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
  padding: rem(15) rem(16) rem(24);
  @include mq(md){
    padding: rem(24);
  }
}

.voice-card__contents {
  display: flex;
  align-items: end;
  gap: rem(8);
  justify-content: center;
  @include mq('md') {
    gap: rem(16);
  }
}

.voice-card__content {
  // padding: rem(8) rem(16) rem(24) rem(16);
  @include mq(md){
      
  }
}

.voice-card__img {
  width: 100%;
  max-width: rem(151);
  @include mq('md') {
    max-width: rem(180);
  }
}

.voice-card__img img {
  width: 100%;
  aspect-ratio: 151/117;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 180/140;
    opacity: 0.8;
  }
}

.voice-card__text {
  margin-top: rem(15);
  line-height: calc(24 / 16);
  @include mq(md){
    margin-top: calc(rem(40) - rem(2));
  }
}